{{#> layouts/base }}
  {{#*inline "css-block"}}
    <link rel="stylesheet" href="css/syno.css">
    <link rel="stylesheet" href="css/products.css">
  {{/inline}}

  {{#*inline "content-block"}}
    <section  class="nine_section_wrapper sub_order_main">
        <!--begin nine_section -->
        <div class="nine_section">
            <div class="sub_order_con">
            <!--sub_order_main_title start-->
            <div class="sub_order_main_title">
                <div class="t">Thank for your order .</div>
                <div class="c"> We will notify you as items are dispatched.</div>
            </div>
            <!--sub_order_main_title end-->
            <div class="sub_order_bor">
                <div class="yin_succ"><img src="images/yin.png"></div>
            <!--sub_order_product start-->
            <div class="sub_order_product clearfix">
                <div class="order_product fl">
                    <div class="img fl"><img src="images/pro11.jpg"></div>
                    <div class="name">We will notify you as items are dispatched</div>
                </div>
                <div class="order_product_price frr">
                  $199.99
                </div>
            </div>
            <!--sub_order_product end-->
            <!--sub_order_deli start-->
            <div class="sub_order_deli">
                <div class="li_l">发货时间</div>
                <div class="li_r">
                    <p>预计 2018年 9月 陆续发货</p>
                    {{!-- <p>Delivery:9 July,2016 by pre-9:30am Delivery</p>
                    <div class="more_date">Delivery:9 July,2016 by pre-9:30am Delivery</div> --}}
                </div>
            </div>
            <!--sub_order_deli end-->
            </div>
            <!--sub_order_ship start-->
            <div class="sub_order_deli sub_order_ship">
                <div class="li_l">Ship to:</div>
                <div class="li_r">
                    <p id="shipAddress"></p>
                </div>
            </div>
            <!--sub_order_ship end-->
            <!--sub_order_bill start-->
            <div class="sub_order_bill">
                <div class="sub_order_bill_title">Payment and Billing Details</div>
                <div class="sub_order_deli sub_order_ship">
                    <div class="li_l">Payment</div>
                    <div class="li_r">
                        <p id="orderId"></p>
                        <p id="orderDate"></p>
                    </div>
                </div>
                <div class="sub_order_deli sub_order_ship">
                    <div class="li_l">Billing Address:</div>
                    <div class="li_r">
                        <p id="customerName"></p>
                        <p id="phone"></p>
                        <p id="address"></p>
                        <p id="vocher"></p>
                    </div>
                </div>
            </div>
            <!--sub_order_bill end-->
            </div>
        </div>
        <!--end nine_section -->
    </section>
    <!--end nine_section -->
  {{/inline}}

  {{#*inline "modal-block"}}
    <!-- No Modal -->
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/modernizr-2.6.1.min.js"></script>
    <script src="js/conditional.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.inview.js"></script>
    <!-- begin jquery.sticky script-->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script>
        $(window).load(function(){
            $("#header_wrapper").sticky({ topSpacing: 0 });
        });
    </script>
    <!-- end jquery.sticky script-->

    <!-- begin menu scrollTo script-->
    <script src="js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function() {
                /* This code is executed after the DOM has been completely loaded */

                $("#nav li a").click(function(e){

                    var full_url = this.href;
                    var parts = full_url.split("#");
                    var trgt = parts[1];
                    var target_offset = $("#"+trgt).offset();
                    var target_top = target_offset.top;

                    $('html,body').animate({scrollTop:target_top -80}, 1000);
                    return false;

                });

            });
        })(jQuery);
    </script>
    <!-- end menu scrollTo script-->

    <!-- begin menu color script-->
    <script src="js/jquery.nav.js"></script>
    <script>
        $(document).ready(function() {
            $('#nav').onePageNav({
                filter: ':not(.external)',
                scrollThreshold: 0.25
            });
        });
    </script>
    <!-- end menu color script-->

    <!--begin shrink header script -->
    <script>
        $(function(){
            var shrinkHeader = 50;
            // $(window).scroll(function() {
            //     var scroll = getCurrentScroll();
            //     if ( scroll >= shrinkHeader ) {
            //         $('#header_wrapper').addClass('shrink');
            //     }
            //     else {
            //         $('#header_wrapper').removeClass('shrink');
            //     }
            // });
            // function getCurrentScroll() {
            //     return window.pageYOffset;
            // }
        });
    </script>
    <!--end shrink header script -->
    <script src="js/pages/order_detail.js"></script>
  {{/inline}}
{{/layouts/base}}