{{#> layouts/base }}
  {{#*inline "css-block"}}
    <link rel="stylesheet" href="css/syno.css">
    <link rel="stylesheet" href="css/products.css">
  {{/inline}}

  {{#*inline "content-block"}}
  
    <!--end header_wrapper -->
    <!-----第一版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper cart_banner_title">
        <!--begin nine_section -->
        <div class="nine_section"><div class="cart_banner_title_t">{{ translation.TITLE_ORDER }}</div> </div>
        <!--end nine_section -->
    </section>
    <!--end nine_section -->
    <!-----第一版------------->
    <!-----第二版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper cart_main">
        <!--begin nine_section -->
        <div class="nine_section">
            <div class="cart_table">
                <table class="responsive" valign="middle">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ translation.ORDER_PRICE }}</th>
                        <th>{{ translation.ORDER_QUANTITY }}</th>
                        <th>{{ translation.ORDER_AMOUNT }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="pro_img">
                            <div class="pro_td">
                                <img src="images/pro11.jpg">
                                <div class="txt">
                                    <div class="name">First generation high performance cartesian mining machine</div>
                                    <div class="c">First generation high performance cartesian mining machine
                                    ,First generation high performance cartesian mining machine
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="price">$1820</td>
                        <td class="num"><input class="num_input" type="text" value="1"></td>
                        <td class="price_total">
                            $1820
                        </td>
                    </tr>
                    <tr>
                        <td class="pro_img">
                            <div class="pro_td">
                                <img src="images/pro11.jpg">
                                <div class="txt">
                                    <div class="name">First generation high performance cartesian mining machine
                                    </div>
                                    <div class="c">First generation high performance cartesian mining machine
                                    ,First generation high performance cartesian mining machine
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="price">$1820</td>
                        <td class="num"><input class="num_input" type="text" value="1"></td>
                        <td class="price_total">
                            $1820
                        </td>
                    </tr>
                    <tr>
                        <td class="pro_img">
                            <div class="pro_td">
                                <img src="images/pro11.jpg">
                                <div class="txt">
                                    <div class="name">First generation high performance cartesian mining machine
                                    </div>
                                    <div class="c">First generation high performance cartesian mining machine
                                    ,First generation high performance cartesian mining machine
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="price">$1820</td>
                        <td class="num"><input class="num_input" type="text" value="1"></td>
                        <td class="price_total">
                            $1820
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--end nine_section -->
    </section>
  {{/inline}}

  {{#*inline "modal-block"}}

    
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/modernizr-2.6.1.min.js"></script>
    <script src="js/conditional.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.inview.js"></script>
    <!-- begin jquery.sticky script-->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script>
        $(window).load(function(){
            $("#header_wrapper").sticky({ topSpacing: 0 });
        });
    </script>
    <!-- end jquery.sticky script-->

    <!-- begin menu scrollTo script-->
    <script src="js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function() {
                /* This code is executed after the DOM has been completely loaded */

                $("#nav li a").click(function(e){

                    var full_url = this.href;
                    var parts = full_url.split("#");
                    var trgt = parts[1];
                    var target_offset = $("#"+trgt).offset();
                    var target_top = target_offset.top;

                    $('html,body').animate({scrollTop:target_top -80}, 1000);
                    return false;

                });

            });
        })(jQuery);
    </script>
    <!-- end menu scrollTo script-->

    <!-- begin menu color script-->
    <script src="js/jquery.nav.js"></script>
    <script>
        $(document).ready(function() {
            $('#nav').onePageNav({
                filter: ':not(.external)',
                scrollThreshold: 0.25
            });
        });
    </script>
    <!-- end menu color script-->

    <!--begin shrink header script -->
    <script>
        $(function(){
            var shrinkHeader = 50;
            // $(window).scroll(function() {
            //     var scroll = getCurrentScroll();
            //     if ( scroll >= shrinkHeader ) {
            //         $('#header_wrapper').addClass('shrink');
            //     }
            //     else {
            //         $('#header_wrapper').removeClass('shrink');
            //     }
            // });
            // function getCurrentScroll() {
            //     return window.pageYOffset;
            // }
        });
    </script>
  <!--end shrink header script -->
  {{/inline}}
{{/layouts/base}}