{{#> layouts/base }}
  {{#*inline "css-block"}}
    <link rel="stylesheet" href="css/syno.css">
    <link rel="stylesheet" href="css/products.css">
  {{/inline}}

  {{#*inline "content-block"}}
    <!--begin header_wrapper -->
    {{!-- <header id="header_wrapper" class="shrink">
        <!--begin header -->
        <div id="header" class="clearfix">
            <!--begin row -->
            <div class="row">
                <!--begin twelvecol -->
                <div class="twelvecol">
                    <!--begin logo -->
                    <a href="index" id="logo"><img src="images/logo.png"></a>
                    <!--end logo -->
                    <!--begin purchase button -->
                    <!--<a href="#" class="purchase">Purchase Now</a>-->
                    <!--end purchase button -->

                    <!--begin nav -->
                    <ul id="nav">
                        <li>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a href="">矿机</a>
                        </li>
                        <li>
                            <a href="index.html#showcase">应用场景</a>
                        </li>
                        <li>
                            <a href="https://github.com/DescartesChain">技术资源</a>
                        </li>
                        <li>
                            <a href="index.html#features">发展规划</a>
                        </li>
                        <li>
                            <a href="index.html#pricing">团队</a>
                        </li>
                        <li id="i18n"><a href="minerEn.html"> En </a></li>
                        <!--<li class="last">
                            <a href="#subscribe">Subscribe</a>
                        </li>-->
                    </ul>
                    <!--end nav -->

                </div>
                <!--end twelvecol -->

            </div>
            <!--end row -->

        </div>
        <!--end header -->

    </header> --}}
    <!--end header_wrapper -->
    <!-----第一版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper profile_main">
        <!--begin nine_section -->
        <div class="nine_section">
            <!--------tab 切换------------------->
            <div class="profile_new clearfix">
                <div id="outer">
                    <div id="tab">
                    <div class="img"><img src="images/15.jpg"></div>
                    <div class="name text_align_center">Tiago M. Fernández-Caramés</div>
                    <ul class="clearfix">
                        <li class="current"><i class="fa fa-tags" aria-hidden="true"></i>订单</li>
                        <li><i class="fa fa-gift" aria-hidden="true"></i>兑换码</li>
                        <li><i class="fa fa-address-book" aria-hidden="true"></i>地址</li>
                        <li><i class="fa fa-wrench" aria-hidden="true"></i>设置</li>
                    </ul>
                    </div>
                    <div id="content">
                        <ul style="display:block;">
                            <li>
                                <div class="cart_table">
                                    <div class="profile_new_title"><a href="">未支付</a><a href="">未完成</a><a class="on" href="">已完成</a></div>
                                    <table class="responsive" valign="middle">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>数量</th>
                                            <th>总价</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="pro_img">
                                                <div class="pro_td">
                                                    <img src="images/pro11.jpg">
                                                    <div class="txt">
                                                        <div class="tit">第一代高性能笛卡尔矿机</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="num">1</td>
                                            <td class="price_total">
                                                ￥100
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pro_img">
                                                <div class="pro_td">
                                                    <img src="images/pro11.jpg">
                                                    <div class="txt">
                                                        <div class="tit">第一代高性能笛卡尔矿机</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="num">1</td>
                                            <td class="price_total">
                                                ￥100
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pro_img">
                                                <div class="pro_td">
                                                    <img src="images/pro11.jpg">
                                                    <div class="txt">
                                                        <div class="tit">第一代高性能笛卡尔矿机</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="num">1</td>
                                            <td class="price_total">
                                                ￥100
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <!-------------------------兑换码--------------->
                                <div class="profile_new_num">
                                <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    <button class="login100-form-btn">立即兑换</button>
                                </div>
                                <!-------------------------兑换码--------------->
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <!------------------收货地址表单-------------------->
                                <div class="profile_form">
                                        <div class="li">
                                            <div class="label">收货人</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                        </div>
                                    <div class="li">
                                            <div class="label">收货人电话</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                      </div>
                                    <div class="li">
                                            <div class="label">收货地址</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                     </div>
                                    <div class="li text_center">
                                            <button class="login100-form-btn">提交</button>
                                    </div>
                                </div>
                                <!------------------收货地址表单-------------------->
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <!------------------个人信息-------------------->
                                <div class="profile_form">
                                    <div class="li">
                                        <div class="label">收货人</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li">
                                        <div class="label">收货人电话</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li">
                                        <div class="label">收货地址</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li text_center">
                                        <button class="login100-form-btn">提交</button>
                                    </div>
                                </div>
                                <!------------------收个人信息-------------------->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                $(function(){
                    window.onload = function()
                    {
                        var $li = $('#tab li');
                        var $ul = $('#content ul');
                        $li.click(function(){
                            var $this = $(this);
                            var $t = $this.index();
                            $li.removeClass();
                            $this.addClass('current');
                            $ul.css('display','none');
                            $ul.eq($t).css('display','block');
                        })
                    }
                });
            </script>
            <!--------tab 切换------------------->



        </div>
        <!--end nine_section -->
    </section>
    <!--end nine_section -->
  {{/inline}}



  {{#*inline "modal-block"}}
    <!-- No Modal -->
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/modernizr-2.6.1.min.js"></script>
    <script src="js/conditional.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.inview.js"></script>
    <!-- begin jquery.sticky script-->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script>
        $(window).load(function(){
            $("#header_wrapper").sticky({ topSpacing: 0 });
        });
    </script>
    <!-- end jquery.sticky script-->

    <!-- begin menu scrollTo script-->
    <script src="js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function() {
                /* This code is executed after the DOM has been completely loaded */

                $("#nav li a").click(function(e){

                    var full_url = this.href;
                    var parts = full_url.split("#");
                    var trgt = parts[1];
                    var target_offset = $("#"+trgt).offset();
                    var target_top = target_offset.top;

                    $('html,body').animate({scrollTop:target_top -80}, 1000);
                    return false;

                });

            });
        })(jQuery);
    </script>
    <!-- end menu scrollTo script-->

    <!-- begin menu color script-->
    <script src="js/jquery.nav.js"></script>
    <script>
        $(document).ready(function() {
            $('#nav').onePageNav({
                filter: ':not(.external)',
                scrollThreshold: 0.25
            });
        });
    </script>
    <!-- end menu color script-->

    <!--begin shrink header script -->
    <script>
        $(function(){
            var shrinkHeader = 50;
            // $(window).scroll(function() {
            //     var scroll = getCurrentScroll();
            //     if ( scroll >= shrinkHeader ) {
            //         $('#header_wrapper').addClass('shrink');
            //     }
            //     else {
            //         $('#header_wrapper').removeClass('shrink');
            //     }
            // });
            // function getCurrentScroll() {
            //     return window.pageYOffset;
            // }
        });
    </script>
    <!--end shrink header script -->
  {{/inline}}
{{/layouts/base}}