{{#> layouts/basic title="Login" }}

  {{#*inline "content-block"}}
    <div class="card card-auth mx-auto mt-5">
      <div class="card-header">登录</div>
      <div class="card-body">
        <div class="form-group">
          <label for="username">用户名称</label>
          <input id="username" class="form-control" type="username" aria-describedby="usernameHelp" placeholder="请输入用户名">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input id="password" class="form-control" type="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">记住我</label>
          </div>
        </div>
        <button id="btnSignIn" class="btn btn-primary btn-block">登录</button>

        <div class="text-center">
          <a class="d-block small mt-3" href="signup.html">注册</a>
          <a class="d-block small" href="forgot-password.html">忘记密码？</a>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block" }}
    <script src="js/pages/signin.js"></script>
  {{/inline }}

{{/layouts/basic}}