*{
	margin: 0;
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.title{
	width: 1180px;
	height: 130px;
	margin: 0 auto;
	background-color: red;
	padding: 50px;
	background: url('../img/book-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.content{
	width: 1280px;
	position: relative;
	height: 704px;
	background-color: #ccc;
	margin: 0 auto;
}
.content .text-content{
	text-align: center;
	padding-left: -300px;
	line-height: 50px;
	padding-top: 60px;
	margin-left: -150px;
}
.content .text-content h1{
	font-size: 60px;
	font-family: '楷体';
}
.content .text-content h3{
	font-size: 40px;
	font-family: '楷体';
	padding-left: 35px;
}
.content .position-input input {
	width: 500px;
	height: 60px;
	border-radius: 20px;
	outline: none;
	border: none;
	padding: 0 10px;
	background-color: #95AAAF;
	font-size: 30px;
	color: #fff;
}
.content .position-input input::-webkit-input-placeholder{
	color: #fff;
}
.content .position-input  img{
	top: 55px;
	right: 50px;
	position: absolute;
	width: 50px;
	height: 50px;
	transition: 0.3s;
}
.content .position-input  img:hover{
	transform: scale(1.2);
}
.content .position-input {
	padding-top: 50px;
	margin-right: 325px;
	position: relative;
}
.content  .position-text{
	position: absolute;
	bottom: 0;
	left: 400px;
	text-align: center;
}
footer{
	width: 1280px;
	height: 100px;
	margin: 0 auto;
	background-color: #aaa;
}