<footer id="footer">
    <!--begin row -->
    <div class="row">
        <!--begin twelvecol -->
        <div class="twelvecol">
            <!--begin footer_logo icons -->
            <span class="footer_logo"><img class="foot_logo" src="images/logo_en.png"></span>
            <!--end footer_logo icons -->
            <!--begin social icons -->
            <ul class="social">
                    <li>
                        <a href="https://twitter.com">
                            <i class="fa fa-twitter contact-icon-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DescartesChain">
                            <i class="fa fa-github contact-icon-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/discover">
                            <i class="fa fa-google-plus contact-icon-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.telegram.org">
                            <i class="fa fa-telegram fa-1x contact-icon-circle"></i>
                        </a>
                    </li>
                </ul>
            <!--end social icons -->

            <div class="footer_line"><span></span></div>

            <!--begin copyright -->
            <p class="copyright">{{ translation.COPYRIGHT_PART_A }} <a href="https://www.dcar.xyz" target="_blank">{{ translation.COPYRIGHT_PART_B }}</a>.</p>
            <!--end copyright -->

        </div>
        <!--end twelvecol -->

    </div>
    <!--end row -->

</footer>